@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    background-color: #afbdd0; /* Sets the background color of the body */
    color: black; /* Sets the text color to black */
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 700;
}

.header {
    display: flex;
    justify-content: space-between; /* Space between nav and logo */
    align-items: flex-start; /* Aligns items to the top */
    padding: 20px; /* Adds padding around the header */
    position: sticky; /* Makes the header stick to the top */
    top: 0;                 /* REQUIRED */
    z-index: 1000;          /* prevents overlap issues */
    background-color: #afbdd0;
}
